/**
 * Styling - generic app styles
 *
 *
 */
/*******************************************
 				Fonts Css
********************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*******************************************
 				Ends fonts
********************************************/


/*******************************************
 				General Css
********************************************/
*{
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	position:absolute;
	min-width:100%;
	min-height:100%;
}

/*******************************************
 				Ends General Css
********************************************/

/*********************************************
		Admin Menu cs
*********************************************/
#aweb-admin-front-navigation {
	height: 25px;
	background-color: #000;
}

ul.admin-front-nav-wrap{
	padding: 2px 15px;
	font-size: 15px;
}

ul.admin-front-nav-wrap li a{
	color: #fff;
}
ul.admin-front-nav-wrap li a:hover{
	text-decoration: underline;
}
/*******************************************
 				Header Css
********************************************/
.aweb-header{
	background: #2c2557;
	height: 55px;
	width: 100%;
	top: 0;
}

.aweb-site-title a{
	color: #fff;
	line-height: 55px;
	font-size: 30px;
	padding: 0 100px;
}

.aweb-site-title a span{
	font-size: 15px;
	font-style: italic;
}

.aweb-site-title a:hover{
	font-size: 2rem;
}

.nav-wrap {
	float: right;
	margin-right: 120px;
	margin-top: -60px;
}

.nav-wrap ul li a {
	color: #fff;
}
.nav-wrap li {
	display: inline-block;
	line-height:60px;
	padding: 0 15px;
	text-transform: capitalize;
	font-size: 15px;
}
a.active_name {
  font-size: 16px;
  border-bottom: 1px solid white;
}

/*******************************************
 			Ends Header Css
********************************************/

/*******************************************
 			Header Responsive  Css
********************************************/
@media(max-width: 790px) {
	 .aweb-site-title a{
	 	padding-left: 20px;
	 	font-size: 20px;
	 	margin-top: -15px;
	 	line-height: 55px;	 	
	 }
	 .aweb-header{
	 	max-height: 50px;
	 }
	 .nav-wrap{
	 	position: sticky;
	 	flex-direction: column;
	 	width: 100%;
	 	top: 60px;
	 	background: #2c3e50;
	 	float: none;
	 	margin-right: -20px;
	 	margin-top: -6px;
	 	min-height: 15px;
	 	opacity: 0.9;
	 }
	 .nav-wrap ul{
	 	font-size: 8px;
	 	text-align: center;	 
	 }
	 .nav-wrap ul li{
		margin-top: 10px;
	 }
	 .aweb-site-title a:hover{
		font-size: 1.4rem;
	}
}
/*******************************************
 			Ends Header Responsive  Css
********************************************/

/*******************************************
 			Main Wrapper Css
********************************************/
.aweb-clearfix {
	clear: both;
}
/* .main-wrapper{
	margin-top: 90px;
} */

/*******************************************
 			Ends Main Wrapper Css
********************************************/

/*******************************************
 			Login Form Css
********************************************/
.aweb-login-form-wrapper{
	border: 1px solid#000;
	width: 35%;
	padding-left:60px;
	padding-right:60px;
	padding-bottom: 200px;
	margin: auto;	
	border-radius: 10px;
}
.aweb-login-form-wrapper .input-wrapper {
	padding-top: 20px;
}
.aweb-red-note{
	color: #c90202;
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
}
.input-wrapper label{
	font-size: 18px;
}
.input-wrapper input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
 	background: transparent;
 	outline: none;
 	height: 40px;
 	font-size: 16px;
}

.aweb-submit input{
	border: none;
 	outline: none;
 	height: 50px;
 	background: #1c8adb;
 	color: #fff;
 	font-size: 18px;
 	border-radius: 20px;
 	width: 75%;
 	margin: 20px 50px;
 }
.aweb-submit input{
	border: none;
 	outline: none;
 	height: 50px;
 	background: #1c8adb;
 	color: #fff;
 	font-size: 18px;
 	border-radius: 20px;
 	width: 75%;
 	margin: 20px 50px;
}
.aweb-submit input:hover{
	cursor: pointer;
	background: #39dc79;
 	color: #000;
}
.aweb-login-form-wrapper .input-wrapper .aweb-login-note{
	font-weight: bold;
	font-size: 35px;
	color: #1a1261;
	text-align: center;
	margin-bottom: 5px;
}

/*******************************************
 			Ends Login Form Css
********************************************/

/*******************************************
 			Login Form Responsive Css
********************************************/
@media(max-width: 790px){
	#aweb-login-form{
	 background: none;

	}
	.aweb-login-form-wrapper{
	    min-width: 80%;
        padding-bottom: unset;
    	margin-top: 230px;

	}
}
/*******************************************
 		Ends Login Form Responsive Css
********************************************/


/*******************************************
 			Signup Form Css
********************************************/

.aweb-signup-form-wrapper{
	border: 1px solid#000;
	width: 35%;
	padding-left:60px;
	padding-right:60px;
	padding-bottom: 200px;
	margin: auto;	
	border-radius: 10px;
	margin-top: 10px;
}
.input-wrapper .form-heading{
	color: #1d184d;
	margin: 15px auto;
}
.input-wrapper .form-heading h2 span{
	font-weight: bold;
	font-size: 35px;
	color: #1a1261;
}
/*******************************************
 			Ends Login Form Css
********************************************/

/*******************************************
 			Signup Form Responsive Css
********************************************/
@media(max-width: 790px){
	#aweb-signup-form{
	 background: none;

	}
	.aweb-signup-form-wrapper{
	    min-width: 80%;
        padding-bottom: unset;


	}
}


/*******************************************
 			Ends Signup Form Responsive Css
********************************************/

/*******************************************
 			Dashboard Css
********************************************/
.MuiTabs-root{
	overflow: auto;
	float: bottom;
	clear: both;
	margin-top: 200px;
}

/*******************************************
 			Ends Dashboard Css
********************************************/

/*******************************************
 			Shop Page Css
********************************************/
.product-wrap{
	width: 100%;
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 	margin: 15px 0; 
}

.product-card{
 	max-width: 380px;
 	width: 100%;
 	overflow: hidden;
 	height: 570px;
 	box-shadow: 0 0 5px #ccc;
 	padding: 15px;
 	margin: 15px 0;
 	cursor: pointer;
}

.product-card img{
	width: 100%;
	height: 100%;
	max-height: 340px;
	display: block;
	object-fit: cover;
}
.product-box{
	margin: 15px 0px;
}
.product-box h3{
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.product-box p{
	margin: 10px 0;
	line-height: 1.5;
}
.product-box h4{
	color: crimson;
}
.product-box button{
	width: 100%;
	border: none;
	outline: none;
	background: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
	margin: 10px 0;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.product-box button:hover{
	background: #191f16;
}

/*******************************************
 		Ends Shop Page Css
********************************************/
/*******************************************
 		Product form Css
********************************************/

.aweb-Product-form-wrapper{
	height: auto;
	width: 70vw;
	border: 1px solid#000;
	padding-left:60px;
	padding-right:60px;
	padding-bottom: 200px;
	margin: auto;	
	border-radius: 10px;
	margin-top: 10px;
}
.aweb-Product-form-header{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
	color: #c90202;
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
}
.aweb-Product-form-wrapper input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: 30px;
 	background: transparent;
 	outline: none;
 	height: 25px;
 	font-size: 14px;
}
.
.aweb-Product-Description #PDec {
	 resize: none;


}
.aweb-product-submit-button{
	width: 50%;
	border: none;
	outline: none;
	background: #333;
	color: white;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(50%, 50%);

}
.aweb-product-submit-button:hover{
	cursor: pointer;
	background: #39dc79;
 	color: #000;
 }
/*******************************************
 			Ends Product form Css 
********************************************/
















/*******************************************
 			Footer Css
********************************************/
#aweb-footer {
	margin-bottom: 0;
	border-top: 1px dotted #000;
	padding: 10px 20px;
	height: 40px;
}
/*******************************************
 			Ends Footer Css
********************************************/