/**
 * Styling - generic app styles
 *
 *
 */
/*******************************************
 				Fonts Css
********************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*******************************************
 				Ends fonts
********************************************/


/*******************************************
 				General Css
********************************************/
*{
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
  	flex-direction: column;
  	height: 100vh;
}

#auction-web-admin {
	height: 100%;
}

#admin-right-content {
	position: fixed;
	color: white;
	height: 93vh;
	width: 80%;
	margin-top: 3rem;
	margin-left: 20%;
	background-color: #151a30;
	overflow-y: scroll;
	padding: 30px 30px 50px;
}

/*******************************************
 				Ends General Css
********************************************/

/*********************************************
		Admin Menu cs
*********************************************/
#aweb-admin-front-navigation {
	height: 25px;
	background-color: #000;
}

ul.admin-front-nav-wrap{
	padding: 2px 15px;
	font-size: 15px;
}

ul.admin-front-nav-wrap li a{
	color: #fff;
}
ul.admin-front-nav-wrap li a:hover{
	text-decoration: underline;
}
/*******************************************
 				Header Css
********************************************/
.aweb-header{
	background: #2c2557;
	height: 55px;
	width: 100%;
	top: 0;
}

.aweb-site-title a{
	color: #fff;
	line-height: 55px;
	font-size: 30px;
	padding: 0 100px;
}

.aweb-site-title a span{
	font-size: 15px;
	font-style: italic;
}

.aweb-site-title a:hover{
	font-size: 2rem;
}

.nav-wrap {
	float: right;
	margin-right: 120px;
	margin-top: -60px;
}

.nav-wrap ul li a {
	color: #fff;
}
.nav-wrap li {
	display: inline-block;
	line-height:60px;
	padding: 0 15px;
	text-transform: capitalize;
	font-size: 15px;
}
a.active_name {
  font-size: 16px;
  border-bottom: 1px solid white;
}

/*******************************************
 			Ends Header Css
********************************************/

/*******************************************
 			Header Responsive  Css
********************************************/
@media(max-width: 790px) {
	 .aweb-site-title a{
	 	padding-left: 20px;
	 	font-size: 20px;
	 	margin-top: -15px;
	 	line-height: 55px;	 	
	 }
	 .aweb-header{
	 	max-height: 50px;
	 }
	 .nav-wrap{
	 	position: sticky;
	 	flex-direction: column;
	 	width: 100%;
	 	top: 60px;
	 	background: #2c3e50;
	 	float: none;
	 	margin-right: -20px;
	 	margin-top: -6px;
	 	min-height: 15px;
	 	opacity: 0.9;
	 }
	 .nav-wrap ul{
	 	font-size: 8px;
	 	text-align: center;	 
	 }
	 .nav-wrap ul li{
		margin-top: 10px;
	 }
	 .aweb-site-title a:hover{
		font-size: 1.4rem;
	}
}
/*******************************************
 			Ends Header Responsive  Css
********************************************/

/*******************************************
 			Main Wrapper Css
********************************************/
.aweb-clearfix {
	clear: both;
}
/* .main-wrapper{
	margin-top: 90px;
} */

/*******************************************
 			Ends Main Wrapper Css
********************************************/

/*******************************************
 			Login Form Css
********************************************/

#auction-web-login{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
#aweb-login-form{
	width: 50%;
	padding-top: 20px;
}
.aweb-login-form-wrapper{
	border: 1px solid#000;
	width: 60%;
	padding-left:60px;
	padding-right:60px;
	padding-bottom: 100px;
	margin: auto;	
	border-radius: 10px;
}
.aweb-login-form-wrapper .input-wrapper {
	padding-top: 30px;
}
.aweb-red-note{
	color: #c90202;
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
}
.input-wrapper label{
	font-size: 18px;
}
.aweb-submit input{
	border: none;
 	outline: none;
 	height: 50px;
 	background: #1c8adb;
 	color: #fff;
 	font-size: 18px;
 	border-radius: 20px;
 	width: 75%;
 	margin: 20px 50px;
 }
.aweb-submit input{
	border: none;
 	outline: none;
 	height: 50px;
 	background: #1c8adb;
 	color: #fff;
 	font-size: 18px;
 	border-radius: 20px;
 	width: 75%;
 	margin: 20px 50px;
}
.aweb-submit input:hover{
	cursor: pointer;
	background: #39dc79;
 	color: #000;
}
.aweb-login-form-wrapper .input-wrapper .aweb-login-note{
	font-weight: bold;
	font-size: 35px;
	color: #1a1261;
	text-align: center;
	margin-bottom: 5px;
}

/*******************************************
 			Ends Login Form Css
********************************************/

/*******************************************
 			Login Form Responsive Css
********************************************/
@media(max-width: 790px){
	#aweb-login-form{
	 background: none;
	 width: 60%;

	}
	.aweb-login-form-wrapper{
	    width: 100%;
    	margin-top: 70px;
    	margin-left: 90px;
	}
}
/*******************************************
 		Ends Login Form Responsive Css
********************************************/


/*******************************************
 			Signup Form Css
********************************************/

.aweb-signup-form-wrapper{
	border: 1px;
	width: 44%;
	padding-left:70px;
	padding-right:40px;
	margin: auto;	
	margin-top: 10px;
	max-height: auto;
	overflow-y: hidden; 
	box-shadow: 2px 6px 10px grey;
}
.input-wrapper .form-heading h2{
	color: #1a1261;
	margin: 10px auto;
	
}
.input-wrapper .form-heading h2 span{
	font-weight: bold;
	font-size: 25px;
	color: #1a1261;
}
.input-wrapper label{
	font-size: 13px;
}
.input-wrapper .aweb-submit{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 50%;
	margin:auto;

}
/*******************************************
 			Ends Login Form Css
********************************************/

/*******************************************
 			Signup Form Responsive Css
********************************************/
@media(max-width: 790px){
	#aweb-signup-form{
	 background: none;

	}
	.aweb-signup-form-wrapper{
	    min-width: 80%;
        padding-bottom: unset;

	}
}


/*******************************************
 			Ends Signup Form Responsive Css
********************************************/

/*******************************************
 			Dashboard Css
********************************************/
.MuiTabs-root{
	overflow: auto;
	float: bottom;
	clear: both;
	margin-top: 200px;
}

/*******************************************
 			Ends Dashboard Css
********************************************/

/*******************************************
 			Shop Page Css
********************************************/
.product-wrap{
	width: 100%;
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 	margin: 15px 0; 
}

.product-card{
 	max-width: 380px;
 	width: 100%;
 	overflow: hidden;
 	height: 570px;
 	box-shadow: 0 0 5px #ccc;
 	padding: 15px;
 	margin: 15px 0;
 	cursor: pointer;
}

.product-card img{
	width: 100%;
	height: 100%;
	max-height: 340px;
	display: block;
	object-fit: cover;
}
.product-box{
	margin: 15px 0px;
}
.product-box h3{
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.product-box p{
	margin: 10px 0;
	line-height: 1.5;
}
.product-box h4{
	color: crimson;
}
.product-box button{
	width: 100%;
	border: none;
	outline: none;
	background: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
	margin: 10px 0;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.product-box button a{
	color: white;
}

.product-box button:hover{
	background: #191f16;
}

/*******************************************
 		Ends Shop Page Css
********************************************/
/*******************************************
 		Product form Css
********************************************/

.aweb-Product-form-wrapper{
	height: auto;
	width: 70vw;
	border: 1px solid#000;
	padding-left:60px;
	padding-right:60px;
	padding-bottom: 200px;
	margin: auto;	
	border-radius: 10px;
	margin-top: 10px;
}
.aweb-Product-form-header{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
	color: #c90202;
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
}
.aweb-Product-form-wrapper input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: 30px;
 	background: transparent;
 	outline: none;
 	height: 25px;
 	font-size: 14px;
}
#PDec{
	 resize: none;
}
#PSpec{
	 resize: none;
}
.aweb-product-submit-button{
	width: 50%;
	border: none;
	outline: none;
	background: #333;
	color: white;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(50%, 50%);

}
.aweb-product-submit-button:hover{
	cursor: pointer;
	background: #39dc79;
 	color: #000;
 }
/*******************************************
 			Ends Product form Css 
********************************************/

/*******************************************
 			Product Form Responsive Css
********************************************/
@media(max-width: 790px){
	.aweb-Product-form-wrapper{
		margin-top: 150px;
	}
}
/*******************************************
 		Ends Product Form Responsive Css
********************************************/

/*******************************************
 			User Account Verification Css
********************************************/
#auction-web-user-verification{
	height: auto;
	width: 70vw;
	border: 1px solid#000;
	padding-left:60px;
	padding-right:60px;
	padding-bottom: 200px;
	margin: auto;	
	border-radius: 10px;
	margin-top: 10px;
}
#auction-web-user-verification .aweb-heading{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
#auction-web-user-verification .aweb-heading-personal-details{
	margin: 5px 0;
	color: #c90202;
	font-weight: bold;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
}

#auction-web-user-verification .aweb-submit{
	display: flex;
	justify-content: center;
	align-items: center;
}
.react-tel-input .form-control{
	max-width: 5px;
}
/*******************************************
 		Ends User Account Verification Css
********************************************/

/*******************************************
 	User Account Verification Responsive Css
********************************************/
@media(max-width: 790px){
	#auction-web-user-verification{
		margin-top: 150px;
	}
}
/*************************************************
 	Ends User Account Verification Responsive Css
**************************************************/


/*************************************************
 	         ADMIN SIDE CSS
**************************************************/

/*************************************************
 	       	ADMIN SIDE TITLE
**************************************************/

#admin-header {
	background-color: #222b45;
	z-index: 1040;
	box-shadow: 0 0.5rem 1rem 0 #1a1f33;
}
#admin-left-sidebar {
	background-color: #222b45;
	box-shadow: 0 0.5rem 1rem 0 #1a1f33;
}

#aweb-admin-navigation ul li {
	border-bottom: 1px solid #151a30;
}

#admin-content-table {
	background-color: #222b45;
	box-shadow: 0 0.5rem 1rem 0 #1a1f33;
}

.admin-content-table-row-heading {
	border-bottom: 2px solid #151a30;
}

.admin-content-table-row {
	border-bottom: 1px solid #151a30;
}

#admin-action-trigger-button, .admin-page-top-description {
	background-color: #222b45;
}

.admin-modal-border {
	border-bottom: 1px solid #151a30;
}

.admin-modal-box {
	width: 700px;
	background-color: #222b45;
}

#admin-action-trigger-button {
	border: 1px solid #151a30;
}

/*.aweb-admin-wrap{
	position: absolute;
	width: 18%;
	background: #24292d;
	height: 100%;
}*/
/*
.aweb-admin-site-title{
	position: absolute;
	font-size: 20px;
	color: #DCDCDC;
	z-index: 4;
	font-weight: bold;
	width: 20%;
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
	margin-top: 5px;
	font-style: italic;
}
#aweb-admin-navigation{
	position: fixed;
	width: 20%;
	height: 100%;
	background: #181818;
	z-index: 3;
}
#aweb-admin-navigation ul li{
	padding: 20px 10px;
	border-bottom: 1px;
	margin-left: none;

}
#aweb-admin-navigation ul li:first-child{
	padding-top: 30px;
	margin-top: 25px;
}
#aweb-admin-navigation ul li a{
	color: white;
	text-decoration: none;
}

#aweb-admin-navigation ul li a:hover{
	font-size: 17px;
}
@media(max-width: 790px){
	#aweb-admin-navigation{
		width: 85px;
		display: fixed;
	}
	#aweb-admin-navigation ul li{
		text-align: left;
		margin-left: -40px;
	}
	#aweb-admin-navigation ul li a{
		font-size: 14px;
	}
	#aweb-admin-navigation ul li a:hover{
	font-size: 15px;
	}
	.aweb-admin-site-title{
		font-size: 20px;
		max-width: 16px;
	}
	#aweb-admin-navigation ul li:first-child{
	margin-top: 25px;
}
}
/*************************************************
 	      ENDS ADMIN SIDE TITLE
**************************************************/

/*************************************************
 	      ADMIN TABLE CSS
**************************************************/
/*
table{
	margin-left: 300px;
}
table th, td{
	border: 1px solid #ddd;
    padding: 6px;
}
table tr:nth-child(even){
	background-color: #f2f2f2;
}
table tr:nth-child(odd){
	background-color: #DDDDDD;
}
table th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #393E46;
  color: white;
}


@media (max-width: 954px){
		table{
		width: 50% !important;
		margin-left: 200px;
	}
}

@media (max-width: 774px) {

	table{
		margin-left: 120px;
		width: 50% !important;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
		border: 1px solid #ccc;
	 }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 10%; 
		padding-right: -10%;

	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 40; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}
/*************************************************
 	    ENDS  ADMIN TABLE CSS
**************************************************/
/*************************************************
 	        ENDS ADMIN SIDE CSS
**************************************************/
/*************************************************
 	        SINGLE PRODUCT CSS
**************************************************/
#auction-web-single-product{
	max-width: 1200px;
	width: 100%;
	margin:100px auto;
	box-shadow: 0 0 5px #ccc;
}


/*************************************************
 	       ENDS SINGLE PRODUCT CS
**************************************************/

/*************************************************
 	       HOMEPAGE CSS
**************************************************/
.home-banner img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	width: 100vw;
	margin-top: -10px;
}


/*************************************************
 	    ENDS HOMEPAGE CSS
**************************************************/

/*************************************************
 	    SVG IMAGE CSS
**************************************************/
.image-delete svg{
 	color: white;
 	border-radius: 50px;
 	opacity: 0.9;

}
.image-delete svg:hover{
	color: #D3D3D3;
	font-size: 1.4rem;
	-webkit-transition: all 0.5s 0.05s ease;

}

/*************************************************
 	    ENDS SVG IMAGE CSS
**************************************************/
/*************************************************
 	   USER EDIT CSS
**************************************************/
.input_editUser{
	color: white;
}
/*************************************************
 	    ENDS USER EDIT CSS
**************************************************/

.singlePage_RightData{
	font-size: 0.9rem;

}



/*******************************************
 			Footer Css
********************************************/
#aweb-footer {
	background-color: #0a183d;
	height: 32px;
	width: 100%;
	margin-top: auto;	
position: fixed;
bottom: 0px;
}
#aweb-footer p{
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	padding-top: 3px;
	font-size: 16px;
}
@media(max-width: 790px){
	#aweb-footer p{
		display: flex;
		text-align: center;
		justify-content: center;
		font-size: 16px;
	}
}
/*******************************************
 			Ends Footer Css
********************************************/